.confirm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
  }
  
  .confirm-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confirm-header {
    color: #33e5bc
  }
  
  .confirm-item {
    margin-bottom: 30px;
  }